!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    / Use the title from a page's frontmatter if it has one
    %title= current_page.data.title || "The CWL Zone"

    = stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css",
      integrity: "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO",
      crossorigin: "anonymous"
    = stylesheet_link_tag "wired"
    = stylesheet_link_tag "sticky-footer-navbar"
    / EU cookie consent
    = stylesheet_link_tag "cookiealert"

    / jQuery first, then Popper, then Bootstrap JS.
    = javascript_include_tag "https://code.jquery.com/jquery-3.3.1.slim.min.js",
      integrity: "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo",
      crossorigin: "anonymous"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js",
      integrity: "sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49",
      crossorigin: "anonymous"
    = javascript_include_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js",
      integrity: "sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy",
      crossorigin: "anonymous"
    / EU cookie consent
    / https://www.jqueryscript.net/other/Cookie-Consent-Notice-Bootstrap-4-cookieAlert.html
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"
    = javascript_include_tag "site"
    / EU cookie consent
    = javascript_include_tag "cookiealert-dependencies"

    %link{:href => "/images/icon.png", :rel => "icon", :type => "image/png"}

  %body
    = partial "/partials/header"
    = yield
    = partial "/partials/footer"
    / EU cookie consent
    = partial "/partials/eu_cookie_consent"
