!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    / Use the title from a page's frontmatter if it has one
    %title= current_page.data.title || "The CWL Zone"

    = stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css",
      integrity: "sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk",
      crossorigin: "anonymous"
    = stylesheet_link_tag "spacelab"
    -# = stylesheet_link_tag "wired"
    = stylesheet_link_tag "sticky-footer-navbar"
    / EU cookie consent
    = stylesheet_link_tag "cookiealert"

    / jQuery first, then Popper, then Bootstrap JS.
    = javascript_include_tag "https://code.jquery.com/jquery-3.5.1.slim.min.js",
      integrity: "sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj",
      crossorigin: "anonymous"
    = javascript_include_tag "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js",
      integrity: "sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo",
      crossorigin: "anonymous"
    = javascript_include_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js",
      integrity: "sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI",
      crossorigin: "anonymous"
    / EU cookie consent
    / https://www.jqueryscript.net/other/Cookie-Consent-Notice-Bootstrap-4-cookieAlert.html
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"
    = javascript_include_tag "site"
    / EU cookie consent
    = javascript_include_tag "cookiealert-dependencies"

    %link{:href => "/images/icon.png", :rel => "icon", :type => "image/png"}

  %body
    = partial "/partials/header"
    = yield
    = partial "/partials/footer"
    / EU cookie consent
    = partial "/partials/eu_cookie_consent"
