!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    / Use the title from a page's frontmatter if it has one
    %title= current_page.data.title || "The CWL Zone"

    = stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css",
      integrity: "sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65",
      rel: "stylesheet",
      crossorigin: "anonymous"
    = stylesheet_link_tag "zephyr"
    = stylesheet_link_tag "sticky-footer-navbar"
    / EU cookie consent
    = stylesheet_link_tag "cookiealert"

    / jQuery first, then Popper, then Bootstrap JS.
    = javascript_include_tag "https://code.jquery.com/jquery-3.6.3.min.js",
      integrity: "sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=",
      crossorigin: "anonymous"
    = javascript_include_tag "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js",
      integrity: "sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3",
      crossorigin: "anonymous"
    = javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js",
      integrity: "sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V",
      crossorigin: "anonymous"
    / EU cookie consent
    / https://www.jqueryscript.net/other/Cookie-Consent-Notice-Bootstrap-4-cookieAlert.html
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"
    = javascript_include_tag "site"
    / EU cookie consent
    = javascript_include_tag "cookiealert-dependencies"

    %link{:href => "/images/icon.png", :rel => "icon", :type => "image/png"}

  %body
    = partial "/partials/header"
    = yield
    = partial "/partials/footer"
    / EU cookie consent
    = partial "/partials/eu_cookie_consent"
