%div
  %div.collapse#other-text
    %div.card.card-body.bg-light.border-light.text-justify
      %p.font-weight-bold
        About
      %p
        Technical and site information at the
        = link_to "About", "/about"
        page.
      %p.font-weight-bold
        Academia
      %p
        I hold a Bachelor of Science degree in Electrical Engineering and a Doctorate in Computer Science. Please see my
        = link_to "Academic", "/academic"
        page for more details pertaining to my educational background.
      %p.font-weight-bold
        Military Service
      %p
        United States Marine Corps, September 1968 to September 1972. Honorable Discharge with rank of Sergeant (E5).
      %p
        MOS:
        = link_to "2847",
          "https://www.cool.navy.mil/usmc/enlisted/2847.htm",
          target: "_blank"
        &#44; Ground Radio Repair with Cryptographic Maintenance
      %p.font-weight-bold
        Social Media
      %p
        I do not have, and never will have a
        = link_to "Facebook",
          "https://www.healthline.com/health/facebook-addiction",
          target: "_blank"
        presence.
      %p
        I
        = link_to "no longer have",
          "https://www.thecwlzone.com/blog/why-i-am-leaving-twitter-behind/",
          target: "_blank"
        a Twitter account.
      %p
        My
        = link_to "Linked In",
          "https://www.linkedin.com/in/christopherwlehman",
          target: "_blank"
        account is updated once in awhile, but it's not something I worry about, given that I'm offically retired.
      %p.font-weight-bold
        Blogging
      %p
        My 
        = link_to "Blogging", "/blog"
        updates are random and varied. My political philosophy is best described as
        = link_to "Redneck Anarchist",
          "https://en.wikipedia.org/wiki/Anarcho-capitalism",
          target: "_blank"
        &#44; but writing about social or political issues has become downright hazardous due to a surplus of &#34;diversity&#34; and an insufficient supply of rational discourse. What fun times we live in.

