%div.mb-2
  %div.collapse#other-text
    %div.card.card-body.bg-light.border-light.text-justify
      %p.lead
        About
      %p
        Technical and site information at the
        = link_to "About", "/about"
        page.
      %p.lead
        Academia
      %p
        I hold a Bachelor of Science degree in Electrical Engineering and a Doctorate in Computer Science. Please see my
        = link_to "Academic", "/academic"
        page for more details pertaining to my educational background.
      %p.lead
        Military Service
      %p
        %img.img-fluid{"src": "/images/E5-sergeant.jpg", "alt": "E5-sergeant"}
      %p
        = link_to "United States Marine Corps", "https://www.marines.mil/", target: "_blank"
        &#44; September 1968 to September 1972. Honorable Discharge.
      %p
        MOS:
        = link_to "2841",
          "https://www.cool.osd.mil/usmc/moc/index.html?moc=2841&tab=overview",
          target: "_blank"
        &#44; Ground Radio Repair with Cryptographic Maintenance
      %p.lead
        Social Media
      %p
        I do not have, and never will have a
        = link_to "Facebook",
          "https://www.healthline.com/health/facebook-addiction",
          target: "_blank"
        presence.
      %p
        I
        = link_to "no longer have",
          "https://www.thecwlzone.com/blog/why-i-am-leaving-twitter-behind/",
          target: "_blank"
        a Twitter account.
      %p
        I have closed my
        = link_to "LinkedIn",
          "https://www.thecwlzone.com/blog/why-i-finally-left-linkedin/",
          target: "_blank"
        account.
      %p.lead
        Blogging
      %p
        My 
        = link_to "Blogging", "/blog"
        updates are random and varied. My political philosophy is best described as
        = link_to "Self-Ownership, Private Property and Free Markets",
          "https://mises.org/what-austrian-economics",
          target: "_blank"
