%div.container-sm.pt-3
  %div.card
    .card-header.text-center
      Quotes
    .card-body.bg-light.border-dark
      %div#carouselQuotations.carousel.slide{"data-ride": "carousel", "data-pause": "hover", "data-interval": "30000"}
        %ol.carousel-indicators.mb-0.bg-secondary
          %li.active{"data-slide-to" => "0", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "1", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "2", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "3", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "4", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "5", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "6", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "7", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "8", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "9", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "10", "data-target" => "#carouselQuotations"}
        .carousel-inner
          .carousel-item.active
            %blockquote.blockquote.pb-2
              %p.small
                "Whenever you have money, reputations, power, ego, and complexity in play, it is irrational to assume you are seeing objective science."
              %footer.blockquote-footer
                Scott Adams
                %cite{title: "Loserthink"}
                  = link_to "Loserthink", "https://www.penguinrandomhouse.com/books/607083/loserthink-by-scott-adams/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "Combining expertise with authority is the road to perverting true expertise. No expert should have much power, and experts in authority should always be distrusted. They should be the last people permitted to dictate to others what should happen ‘on the basis of their expertise’."
              %footer.blockquote-footer
                Frijters et. al.
                %cite{title: "The Brownstone Institute"}
                  = link_to "Why Academia Is Drawn to Fascism", "https://brownstone.org/articles/why-academia-is-drawn-to-fascism/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "When people tell us to follow the science, what they really mean is, &rdquo;Follow my values.&rdquo;"
              %footer.blockquote-footer
                Gabrielle Bauer
                %cite{title: "Brownstone Institute"}
                  = link_to "Follow the Science, Reconsidered", "https://brownstone.org/articles/follow-the-science-reconsidered", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "From the perspective of an infectious disease expert, you and your family are not individuals with rights and liberties. Instead, you are germ factories, whose movement and social interaction must be severely limited."
              %footer.blockquote-footer
                Robert Sauer, Dr. Donald Siegel
                %cite{title: "AIER"}
                  = link_to "The Brooklyn Variant of the Coronavirus", "https://www.aier.org/article/the-brooklyn-variant-of-the-coronavirus-fuggedaboutit/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "Fundamentally, human rights cannot be dependent on compliance with public health officials. Or politicians. Or the whims of philanthropists and their favorite corporations."
              %footer.blockquote-footer
                David Bell
                %cite{title: "Brownstone Institute"}
                  = link_to "Freedom Is Our Birthright, Not Dependent On Medical Status", "https://brownstone.org/articles/freedom-is-our-birthright-not-dependent-on-my-medical-status/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "If there is hesitancy over the vaccines it is because a portion of society is not afraid enough of the virus either to overcome their fear of a pharmaceutical industry that long ago put profits ahead of people or to set aside their doubts about the capture of our regulatory authorities by those same corporations."
              %footer.blockquote-footer
                Jonathan Cook
                %cite{title: "Global Research"}
                  = link_to "Is Forced Isolation of the Unvaccinated Really the Left’s Answer to the Pandemic?", "https://www.globalresearch.ca/forced-isolation-unvaccinated-really-left-answer-pandemic/5759866/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "When corporations are subsidized and protected from the consequences of their behavior, expect wrongdoing."
              %footer.blockquote-footer
                Barry Brownstein
                %cite{title: "AIER"}
                  = link_to "Those Who Don't Forgive, Don't Learn", "https://www.aier.org/article/those-who-dont-forgive-dont-learn/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "Experience has shown that communities faced with epidemics or other adverse events respond best and with the least anxiety when the normal social functioning of the community is least disrupted."
              %footer.blockquote-footer
                D.A Henderson, MD et. al.
                %cite{title: "AIER"}
                  = link_to "How a Free Society Deals with Pandemics", "https://www.aier.org/article/how-a-free-society-deals-with-pandemics-according-to-legendary-epidemiologist-and-smallpox-eradicator-donald-henderson/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "As COVID Mania has made clear, the entire “Public Health” system is a force for destruction, whether its proponents propagandize for it in English, Chinese, or another language."
              %footer.blockquote-footer
                Jordan Schachtel
                %cite{title: "Brownstone Institute"}
                  = link_to "Lockdown Ideology Is the Plague that Lasts", "https://brownstone.org/articles/lockdown-ideology-is-the-plague-that-lasts/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "Mask mandates – which are objectively draconian and authoritarian regardless of whether they are scientifically warranted – internalize in people that authoritarian governance is normal, acceptable, and not evil. This is a problem. Every genocidal regime started this way."
              %footer.blockquote-footer
                Aaron Hertzberg
                %cite{title: "Facemasks Are Not A Mere Inconvenience"}
                  = link_to "Facemasks Are Not A Mere Inconvenience", "https://brownstone.org/articles/facemasks-are-not-a-mere-inconvenience/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "Unfortunately, while most humans have a moral and ethical compass, few end up following it when confronted by psychopaths in authority and the peer pressure to conform."
              %footer.blockquote-footer
                Paul Craig Roberts
                %cite{title: "Institute for Political Economy"}
                  = link_to "Covid Roundup", "https://www.paulcraigroberts.org/2022/11/27/covid-roundup/", target: "_blank"
