%div.container-sm.pt-3
  %div.card
    .card-header.text-center
      Quotes
    .card-body.bg-light.border-dark
      %div#carouselQuotations.carousel.slide{"data-ride": "carousel", "data-pause": "hover", "data-interval": "30000"}
        %ol.carousel-indicators.mb-0.bg-secondary
          %li.active{"data-slide-to" => "0", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "1", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "2", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "3", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "4", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "5", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "6", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "7", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "8", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "9", "data-target" => "#carouselQuotations"}
        .carousel-inner
          .carousel-item.active
            %blockquote.blockquote.pb-2
              %p.small
                "Whenever you have money, reputations, power, ego, and complexity in play, it is irrational to assume you are seeing objective science."
              %footer.blockquote-footer
                Scott Adams
                %cite{title: "Loserthink"}
                  = link_to "Loserthink", "https://www.penguinrandomhouse.com/books/607083/loserthink-by-scott-adams/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "Combining expertise with authority is the road to perverting true expertise. No expert should have much power, and experts in authority should always be distrusted. They should be the last people permitted to dictate to others what should happen ‘on the basis of their expertise’."
              %footer.blockquote-footer
                Frijters et. al.
                %cite{title: "The Brownstone Institute"}
                  = link_to "Why Academia Is Drawn to Fascism", "https://brownstone.org/articles/why-academia-is-drawn-to-fascism/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "Dismiss anything else. We will continue to be your single source of truth."
              %footer.blockquote-footer
                Jacinda Ardern, Prime Minister of New Zealand
                %cite{title: "AIER"}
                  = link_to "Is the State Your Single Source of Truth?", "https://www.aier.org/article/is-the-state-your-single-source-of-truth/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "From the perspective of an infectious disease expert, you and your family are not individuals with rights and liberties. Instead, you are germ factories, whose movement and social interaction must be severely limited."
              %footer.blockquote-footer
                Robert Sauer, Dr. Donald Siegel
                %cite{title: "AIER"}
                  = link_to "The Brooklyn Variant of the Coronavirus", "https://www.aier.org/article/the-brooklyn-variant-of-the-coronavirus-fuggedaboutit/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "Perhaps epidemiologists and virologists are so embedded in the world of science that they have no familiarity with the real world of economics. If so, it was the obligation of political leaders to take charge and balance competing considerations. The doctors mostly exceeded their authority and the politicians failed to stop them."
              %footer.blockquote-footer
                James Rickards - "The New Great Depression", p. 36
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "If there is hesitancy over the vaccines it is because a portion of society is not afraid enough of the virus either to overcome their fear of a pharmaceutical industry that long ago put profits ahead of people or to set aside their doubts about the capture of our regulatory authorities by those same corporations."
              %footer.blockquote-footer
                Jonathan Cook
                %cite{title: "Global Research"}
                  = link_to "Is Forced Isolation of the Unvaccinated Really the Left’s Answer to the Pandemic?", "https://www.globalresearch.ca/forced-isolation-unvaccinated-really-left-answer-pandemic/5759866/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "Let's focus on the ethical obligation that now runs rampant in our broken societies: everyone’s health is everyone else’s business. Your wants, desires, habits, and routines are mine to police; after all, if we’re not careful, your body could be the source of the next global disease. That means I, or some national or global entity that I control, must be in charge of your life."
              %footer.blockquote-footer
                Joakim Book 
                %cite{title: "AIER"}
                  = link_to "Yuval Noah Harari’s Terrifying Pandemic Future", "https://www.aier.org/article/yuval-noah-hararis-terrifying-pandemic-future/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "Experience has shown that communities faced with epidemics or other adverse events respond best and with the least anxiety when the normal social functioning of the community is least disrupted."
              %footer.blockquote-footer
                D.A Henderson, MD et. al.
                %cite{title: "AIER"}
                  = link_to "How a Free Society Deals with Pandemics", "https://www.aier.org/article/how-a-free-society-deals-with-pandemics-according-to-legendary-epidemiologist-and-smallpox-eradicator-donald-henderson/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "The whole aim of practical politics is to keep the populace alarmed (and hence clamorous to be led to safety) by an endless series of hobgoblins, most of them imaginary.”
              %footer.blockquote-footer
                H. L. Mencken
                %cite{title: "In Defense of Women"}
                  = link_to "In Defense of Women", "https://www.goodreads.com/book/show/300848.In_Defense_Of_Women", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "Mask mandates – which are objectively draconian and authoritarian regardless of whether they are scientifically warranted – internalize in people that authoritarian governance is normal, acceptable, and not evil. This is a problem. Every genocidal regime started this way."
              %footer.blockquote-footer
                Aaron Hertzberg
                %cite{title: "Facemasks Are Not A Mere Inconvenience"}
                  = link_to "Facemasks Are Not A Mere Inconvenience", "https://brownstone.org/articles/facemasks-are-not-a-mere-inconvenience/", target: "_blank"
