%div.container-sm.pt-3
  %div.card
    .card-header.text-center
      Quotes
    .card-body.bg-light.border-dark
      %div#carouselQuotations.carousel.slide{"data-ride": "carousel", "data-pause": "hover", "data-interval": "30000"}
        %ol.carousel-indicators.mb-0.bg-secondary
          %li.active{"data-slide-to" => "0", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "1", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "2", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "3", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "4", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "5", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "6", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "7", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "8", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "9", "data-target" => "#carouselQuotations"}
        .carousel-inner
          .carousel-item.active
            %blockquote.blockquote.pb-2
              %p.small
                "Whenever you have money, reputations, power, ego, and complexity in play, it is irrational to assume you are seeing objective science."
              %footer.blockquote-footer
                Scott Adams
                %cite{title: "Loserthink"}
                  = link_to "Loserthink", "https://www.penguinrandomhouse.com/books/607083/loserthink-by-scott-adams/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "Turning on others with whom we are interdependent is a form of mental illness. The worst economic and social consequences of the pandemic will be over when we decide to wake up from our psychosis. Isolated leaders will never sound the all-clear signal. Our choice is to withdraw our belief in their madness."
              %footer.blockquote-footer
                Barry Brownstein
                %cite{title: "AIER"}
                  = link_to "The Monsters Are Due on Nantucket Island", "https://www.aier.org/article/the-monsters-are-due-on-nantucket-island/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "Stopping humans from being human will not stop the virus from being a virus!"
              %footer.blockquote-footer
                Roger W. Koops
                %cite{title: "AIER"}
                  = link_to "The Year of Disguises", "https://www.aier.org/article/the-year-of-disguises/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "It is also important to keep in mind that academics – and this includes epidemiologists just as economists and lawyers – are typically government employees, and that this colours their approach to any practical problem. They are likely to think that serious problems, especially large-scale problems touching most or all citizens, should be solved by state intervention. Many of them are in fact incapable of imagining anything else."
              %footer.blockquote-footer
                Jorg Guido Hulsmann
                %cite{title: "LRC"}
                  = link_to "A Protest From France", "https://www.lewrockwell.com/2020/04/jrg-guido-hlsmann/a-protest-from-france/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "In a saner world, the burden of proof really should belong to the lockdowners, since it is they who overthrew 100 years of public-health wisdom and replaced it with an untested, top-down imposition on freedom and human rights. They never accepted that burden. They took it as axiomatic that a virus could be intimidated and frightened by credentials, edicts, speeches, and masked gendarmes."
              %footer.blockquote-footer
                AIER Staff
                %cite{title: "AIER"}
                  = link_to "Lockdowns Do Not Control the Coronavirus: The Evidence", "https://www.aier.org/article/lockdowns-do-not-control-the-coronavirus-the-evidence/"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                “Of all tyrannies, a tyranny sincerely exercised for the good of its victims may be the most oppressive. It would be better to live under robber barons than under omnipotent moral busybodies. The robber baron’s cruelty may sometimes sleep, his cupidity may at some point be satiated; but those who torment us for our own good will torment us without end for they do so with the approval of their own conscience.”
              %footer.blockquote-footer
                C. S. Lewis
                %cite{title: "C. S. Lewis"}
                  = link_to "God In The Dock: Essays On Theology And Ethics", "https://www.abebooks.com/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "If an entity seeking control over us can scare other people — our peers — into acting against us, into damaging us, they will win. We will have to comply. Who are we going to sue?"
              %footer.blockquote-footer
                Stacey Rudin
                %cite{title: "AIER"}
                  = link_to "First Goes Law, Then Goes Democracy", "https://www.aier.org/article/first-goes-law-then-goes-democracy/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "Calling for the removal of critics from your profession and ignoring the economic and social consequences of the policies you advocate is behavior worthy of authoritarians."
              %footer.blockquote-footer
                Barry Brownstein
                %cite{title: "AIER"}
                  = link_to "A Soviet Dissident Explains American Censorship", "https://www.aier.org/article/a-soviet-dissident-explains-american-censorship/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                “The most dangerous man to any government is the man who is able to think things out for himself, without regard to the prevailing superstitions and taboos. Almost inevitably he comes to the conclusion that the government he lives under is dishonest, insane, and intolerable...”
              %footer.blockquote-footer
                H. L. Mencken
                %cite{title: "Prejudices: Third Series"}
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                “On victory, you deserve beer. On defeat, you need it."
              %footer.blockquote-footer
                Napoleon Bonaparte 
