%div.container-sm.pt-3
  %div.card
    .card-header.text-center
      Quotes
    .card-body.bg-light.border-dark
      %div#carouselQuotations.carousel.slide{"data-ride": "carousel", "data-pause": "hover", "data-interval": "30000"}
        %ol.carousel-indicators.mb-0.bg-secondary
          %li.active{"data-slide-to" => "0", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "1", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "2", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "3", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "4", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "5", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "6", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "7", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "8", "data-target" => "#carouselQuotations"}
          %li{"data-slide-to" => "9", "data-target" => "#carouselQuotations"}
        .carousel-inner
          .carousel-item.active
            %blockquote.blockquote.pb-2
              %p.small
                "Whenever you have money, reputations, power, ego, and complexity in play, it is irrational to assume you are seeing objective science."
              %footer.blockquote-footer
                Scott Adams
                %cite{title: "Loserthink"}
                  = link_to "Loserthink", "https://www.penguinrandomhouse.com/books/607083/loserthink-by-scott-adams/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "We are not atomistic. We do not live in isolation. We live as a decentralized network of free people, cooperating together out of choice and to our mutual betterment. We owe it to ourselves and to each other to fight for the right to continue to do so, and to beat back any and every attempt to take that right away."
              %footer.blockquote-footer
                Jeffrey A. Tucker
                %cite{title: "AIER"}
                  = link_to "Intellectual Obligation in Times of Crisis", "https://www.aier.org/article/ludwig-von-mises-on-intellectual-obligation-in-times-of-crisis/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "Dismiss anything else. We will continue to be your single source of truth."
              %footer.blockquote-footer
                Jacinda Ardern, Prime Minister of New Zealand
                %cite{title: "AIER"}
                  = link_to "Is the State Your Single Source of Truth?", "https://www.aier.org/article/is-the-state-your-single-source-of-truth/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "From the perspective of an infectious disease expert, you and your family are not individuals with rights and liberties. Instead, you are germ factories, whose movement and social interaction must be severely limited."
              %footer.blockquote-footer
                Robert Sauer, Dr. Donald Siegel
                %cite{title: "AIER"}
                  = link_to "The Brooklyn Variant of the Coronavirus", "https://www.aier.org/article/the-brooklyn-variant-of-the-coronavirus-fuggedaboutit/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "Perhaps epidemiologists and virologists are so embedded in the world of science that they have no familiarity with the real world of economics. If so, it was the obligation of political leaders to take charge and balance competing considerations. The doctors mostly exceeded their authority and the politicians failed to stop them."
              %footer.blockquote-footer
                James Ricards - "The New Great Depression", p. 36
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "Joe Biden and Xi Jinping both believe that the national interest comes before the individual’s peaceful interest; that the collective take priority over the person; that the state must have the authority and power to assign and direct most or all aspects of people’s lives and actions; and that constitutional rules and procedures written on pieces of paper are less important than the implementing, imposing, and achieving of the purposes in &#x201c;the plan.&#x201c;"
              %footer.blockquote-footer
                Richard M. Ebeling
                %cite{title: "AIER"}
                  = link_to "Biden’s Agenda of &#x201c;Democratic&#x201c; Paternalism and Planning", "https://www.aier.org/article/bidens-agenda-of-democratic-paternalism-and-planning/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "Let's focus on the ethical obligation that now runs rampant in our broken societies: everyone’s health is everyone else’s business. Your wants, desires, habits, and routines are mine to police; after all, if we’re not careful, your body could be the source of the next global disease. That means I, or some national or global entity that I control, must be in charge of your life."
              %footer.blockquote-footer
                Joakim Book 
                %cite{title: "AIER"}
                  = link_to "Yuval Noah Harari’s Terrifying Pandemic Future", "https://www.aier.org/article/yuval-noah-hararis-terrifying-pandemic-future/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "Experience has shown that communities faced with epidemics or other adverse events respond best and with the least anxiety when the normal social functioning of the community is least disrupted."
              %footer.blockquote-footer
                D.A Henderson, MD et. al.
                %cite{title: "AIER"}
                  = link_to "How a Free Society Deals with Pandemics", "https://www.aier.org/article/how-a-free-society-deals-with-pandemics-according-to-legendary-epidemiologist-and-smallpox-eradicator-donald-henderson/", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                “The most dangerous man to any government is the man who is able to think things out for himself, without regard to the prevailing superstitions and taboos. Almost inevitably he comes to the conclusion that the government he lives under is dishonest, insane, and intolerable...”
              %footer.blockquote-footer
                H. L. Mencken
                %cite{title: "Prejudices: Third Series"}
                  = link_to "Predjucies: Third Series", "https://www.gutenberg.org/ebooks/53474", target: "_blank"
          .carousel-item
            %blockquote.blockquote.pb-2
              %p.small
                "While public policy should be informed by science, public policy cannot possibly be determined by science. Anyone who says or suggests otherwise understands neither science nor society."
              %footer.blockquote-footer
                Donald J. Boudreaux
                %cite{title: "AIER"}
                  = link_to "Why the Silence in the Face of Covid Tyranny?", "https://www.aier.org/article/why-the-silence-in-the-face-of-covid-tyranny/", target: "_blank"
