%div
  %div.collapse#retirement-text
    %div.card.card-body.bg-light.border-light.text-justify
      %p
        See
        = link_to "Former Employment", "#former-employment"
        and my current
        = link_to "Skill Set", "/professional#skill-set"
        &#46;
    %div.card.card-body.bg-light.border-light.text-justify
      %p
        I am currently involved in a
        %i pro bono
        (and proprietary) project pertaining to a novel approach to project management.
        The skill set includes
        = link_to "Ruby on Rails", "https://rubyonrails.org/", target: "_blank"
        version 8, using
        = link_to "Tailwind CSS 3", "https://tailwindcss.com/", target: "_blank"
        and
        = link_to "SQLite3", "https://sqlite.org/", target: "_blank"

