%div
  %div.collapse#welcome-text
    %div.card.card-body.bg-light.border-light.text-justify
      %p
        Senior Engineer with
        = link_to "Comcast’s", "https://www.xfinity.com/", target: "_blank"
        Technology, Product, Xperience organization (TPX) from 2012 to 2019
      %p
        I was a member of the Applications Management Tools Team consisting of six Developers (including myself), a Manager and a Business Analyst building Configuration Management Database systems and Asset Management systems that track configuration and network topology information for the 8000+ Applications and 750K+ Devices used within TPX.
      %p
        Development stack:
        = link_to "Ruby on Rails", "http://rubyonrails.org/", target: "_blank"
        4.x and 5.1.
      %p
        Front-end technology:
        = link_to "jQuery", "http://jquery.com/", target: "_blank"
        and
        = link_to "Twitter Bootstrap", "https://getbootstrap.com/", target: "_blank"
      %p
        Backend databases:
        = link_to "MySQL", "https://www.mysql.com/", target: "_blank"
        &#44;
        = link_to "MongoDB", "https://www.mongodb.com/", target: "_blank"
      %p
        = link_to "Version Control", "https://en.wikipedia.org/wiki/Version_control", target: "_blank"
        and
        = link_to "Continuous Integration", "https://en.wikipedia.org/wiki/Continuous_integration", target: "_blank"
        done with
        =link_to "Git", "https://git-scm.com/", target: "_blank"
        and
        =link_to "Jenkins", "https://jenkins.io/index.html", target: "_blank"
        &#46;
      %p
        For more information about my work experience at previous employers, please see my
        = link_to "Professional", "/professional"
        page.
