= navbar container: 'fluid', class: 'justify-content-between fixed-top' do
  = navbar_item "Home", '/'
  = navbar_item "About", '/about.html'
  = navbar_item "Professional", '/professional.html'
  = navbar_item "Academic", '/academic.html'
  = navbar_item "De'Lynne Salley Gallery", '/gallery.html'
  = navbar_item "Blog", '/blog'
