= navbar fixed: :top do
  = navbar_item "Home", '/'
  = navbar_item "About Us", '/about-us'
  = navbar_item "Professional", '/professional'
  = navbar_item "Academic", '/academic'
  = navbar_item "De'Lynne Salley Gallery", '/gallery'
  = navbar_item "Contact Us", '/contact'
