---
title: About Me
---

%div#about-tab.container.mt-3
  %div
    %p.font-weight-bold
      Professional Ramblings...
      %a.badge.badge-info{ "data-toggle": "collapse", "href": "#about-intro-text", "role": "button", "aria-expanded": "false", "aria-controls": "about-intro-text" }
        read more/less...

  %div
    %div.collapse.show#about-intro-text
      %div.card.card-body.bg-light.border-light.text-justify
        %p
          I’ve been doing
          = link_to "Rails", "http://rubyonrails.org/", target: "_blank"
          development full time since 2009, and I’ve been working with the
          = link_to "Ruby", "https://www.ruby-lang.org/en/", target: "_blank"
          language since 2005.
        %p
          Prior to that, I spent 27 years in the semiconductor industry at
          = link_to "Ford Microelectronics", "https://www.crunchbase.com/organization/ford-microelectronics", target: "_blank"
          &#44;
          = link_to "Cypress Semiconductor", "http://www.cypress.com/", target: "_blank"
          and
          = link_to "IBM", "https://www.ibm.com/us-en/", target: "_blank"
          &#46; I was a
          = link_to "DevOps", "https://en.wikipedia.org/wiki/DevOps", target: "_blank"
          before the buzzword was invented: doing a combination of software development and system administration, as well as acting as the local SME for the
          = link_to "Electronic Design Automation Tools", "https://en.wikipedia.org/wiki/Electronic_design_automation", target: "_blank"
          essential for the creation of
          = link_to "VLSI", "https://en.wikipedia.org/wiki/Very-large-scale_integration", target: "_blank"
          components.
        %p
          My Ford career in the 1980s was great fun. A
          = link_to "Motor City", "https://en.wikipedia.org/wiki/Detroit", target: "_blank"
          exile working for a car company in Colorado - it doesn’t get any better than that. We were designing first generation automotive electronics during the week and running
          = link_to "Mustangs", "https://www.cargurus.com/Cars/1988-Ford-Mustang-Pictures-c3705#entity=t30287&pictureId=35729363", target: "_blank"
          and
          = link_to "T-birds", "https://www.cargurus.com/Cars/1987-Ford-Thunderbird-Pictures-c4641#entity=t33414&pictureId=19867112", target: "_blank"
          in
          = link_to "SCCA", "https://www.scca.com/", target: "_blank"
          Solo II competition on the weekends. Motor Head Nirvana.
        %img.img-fluid{"src": "/images/about/scca.jpg", "style": "width: 75%; height: auto;", "alt": "scca"}
        %p
          But all things come to an end, and when I ran out of interesting things to do at Ford I jumped ship to a VLSI design startup. That company went under the following year, but the design team was picked up by
          Cypress, and I spent 14 years at the Colorado Springs Design Center where we designed static RAMs that generated over $1.5 billion in revenue for the company.
        %img.img-fluid{"src": "/images/about/Cypress_72MbitQDRII_SRAM.jpg", "style": "width: 75%; height: auto;", "alt": "chip"}
        %p
          The
          = link_to "Dot Com", "https://en.wikipedia.org/wiki/Dot-com_bubble", target: "_blank"
          crash of 2000 seriously affected the semiconductor industry, and after dodging more layoffs than I care to remember, my number came up in 2005, and that was the end of the road with Cypress.
        %p
          The crew that was cut from Cypress represented a huge amount of VLSI expertise, and we persuaded IBM to let us set up a new VLSI design center in Colorado Springs. Yet another semiconductor market pullback ultimately killed that idea, and as an unwilling participant in the
          = link_to "IBM 2009 layoffs", "http://money.cnn.com/2009/02/05/news/companies/ibm_jobs/", target: "_blank"
          &#44; I decided it was long past time to stop chasing electrons. Fortunately, I had been hacking on Rails web sites and doing Ruby programming for awhile, so the transition to Rails web developer was a viable “second career” choice. And that’s where I am today.
        %img.img-thumbnail{"src": "/images/about/cwl_gravatar.jpeg",
          "style": "width: 80px; height: 80px;",
          "alt": "gravatar"}
        %p
          If you’re interested in a more “formal” career timeline, my
          = link_to "LinkedIn Profile", "https://www.linkedin.com/in/christopherwlehman", target: "_blank"
          has all the dates and details. Cheers!

  %div
    %p.font-weight-bold
      About This Site...
      %a.badge.badge-info{ "data-toggle": "collapse", "href": "#about-site-text", "role": "button", "aria-expanded": "false", "aria-controls": "about-site-text" }
        read more/less...
  %div.collapse#about-site-text
    %div.card.card-body.bg-light.border-light.text-justify
      %p
        This is version 3.0 of my web site.
      %p
        For this incarnation, I decided to use
        = link_to "Middleman", "https://middlemanapp.com/", target: "_blank"
        &#44; a Ruby-based static site generator. I use Middleman to build content, run the content through the Middleman compiler and then push the generated HTML pages to my site’s public directory.
      %p
        I use a number of web tools to create various effects on the site. See the “Generated by” section of the footnotes at the bottom of this page for a complete list.
      %p
        I have decided to continue using the
        = link_to "Wordpress", "https://wordpress.com/", target: "_blank"
        blog tool even though Middleman has some very powerful built-in blogging features. Wordpress is a hugely popular web framework, it suits my purposes, and there are WP
        = link_to "CSS themes", "https://wordpress.org/themes/", target: "_blank"
        and
        = link_to "plugins", "https://wordpress.org/plugins/", target: "_blank"
        galore.
      %p
        Web site hosting is done by
        = link_to "NearlyFreeSpeech.net", "https://www.nearlyfreespeech.net/", target: "_blank"
        &#46; NFSN is a no-frills, DIY metered service web hosting company. I’ve been with them since 2004. It costs me about $15 a year to run the site, plus another $10 for annual domain registration. It doesn’t get any cheaper. The “down side”: you get to do everything yourself, so you need to be a combination web developer and sys admin.
      %p
        Site photography and
        = link_to "gallery images", "/gallery"
        by De’Lynne Salley, all rights reserved.
      %p
        The source code for this site is publicly available at my
        = link_to "GitHub", "https://www.github.com/thecwlzone", target: "_blank"
        location. "As-is", have fun.
      %p
        This site has been tested against the following web browsers:
      %ul
        %li
          = link_to "Safari", "http://browserwin.com/safari/", target: "_blank"
          Version 11.02
        %li
          = link_to "Firefox", "https://www.mozilla.org/en-US/firefox/new/", target: "_blank"
          57.0.4 - I use Firefox and its
          = link_to "developer version", "https://developer.mozilla.org/en-US/Firefox/Developer_Edition", target: "_blank"
        %li
          = link_to "Microsoft", "https://www.microsoft.com/en-us/", target: "_blank"
          Internet Explorer 11, probably works OK with version 10 as well.
      %p
        I do not use
        = link_to "Google Chrome", "https://www.google.com/chrome/index.html", target: "_blank"
        &#46; I do not care to have my keystrokes
        = link_to "sent to the NSA", "https://www.pcworld.com/article/2079183/nsa-caught-with-its-hand-in-googles-browser-cookie-jar.html", target: "_blank"
        &#46;

  %div.text-center
    %img.img-fluid.rounded{"src": "/images/co_landscapes/gateway1.jpg",
                           "alt": "gateway colorado"}
    %p.figure-caption
      Gateway, Colorado

  %div
    %p.font-weight-bold
      Acknowledgements...
      %a.badge.badge-info{ "data-toggle": "collapse", "href": "#about-ack-text", "role": "button", "aria-expanded": "false", "aria-controls": "about-ack-text" }
        read more/less...
  %div.collapse#about-ack-text
    %div.card.card-body.bg-light.border-light.text-justify
      %p
        = link_to "Real Men", "https://en.wikipedia.org/wiki/Real_Men_Don%27t_Eat_Quiche", target: "_blank"
        give credit where credit is due. Thanks to:
      %ul
        %li
          all of my professional colleagues, past and present, who are too numerous to mention. Thanks for your support and for all the happy hours (pun intended).
        %li
          the Middleman team for putting together a very nice Ruby-based static site generator. It’s been fun. Thanks!
        %li
          I'm no longer a fan of Twitter (or any social media to be honest), but the Twitter Bootstrap team has done a great job in building a remarkable CSS styling framework for those of us with no sense of aesthetics. If the site looks good, it's due to Bootstrap.
        %li
          my wife De’Lynne who is a great photographer and artist. All of the images on the site and the oil paintings in the gallery are her creations.

:javascript
  $('#about-tab').addClass('active');
