---
title: Academic Background
---
%div#academic-tab.container.mt-3
  %div
    %p.font-weight-bold
      Academic Background

  %div
    %div.card.card-body.bg-light.border-light
      %h6.card-feature
        Alma Maters
      %p
        Doctor of Computer Science
        = link_to "Colorado Technical University",
          "https://www.coloradotech.edu/colorado-springs",
          target: "_blank"
        Colorado Springs, Colorado
      %p
        Master of Science, Computer Science
        = link_to "Colorado Technical University",
          "https://www.coloradotech.edu/colorado-springs",
          target: "_blank"
        Colorado Springs, Colorado
      %p
        Bachelor of Science, Electrical Engineering
        = link_to "Northeastern University",
          "http://www.northeastern.edu/",
          target: "_blank"
        Boston, Massachusetts

  %div
    %a.badge.badge-info{ "data-toggle": "collapse", "href": "#academic-text", "role": "button", "aria-expanded": "false", "aria-controls": "academic-text" }
      Doctoral Dissertation
    %div.collapse#academic-text
      %div.card.card-body.bg-light.border-light
        %p
          "A Rule-Based Expert System for the Diagnosis of Convergence Problems in Circuit Simulation"
          Featuring SOAR: Simulation Output Analysis and Recommendations - A
          = link_to "Ruby on Rails", "http://rubyonrails.org/", target: "_blank"
          and
          = link_to "CLIPS Expert System", "http://www.clipsrules.net/", target: "_blank"
          Integration
        %h6.card-feature
          Dissertation Documents
        %p
          = link_to "Dissertation Defense",
            "/files/Defense_with_Notes.pdf",
            target: "_blank"
          Held on December 19th, 2005
          %br
          = link_to "Abstract", "/files/Abstract.pdf", target: "_blank"
          %br
          = link_to "Dissertation Acknowledgements Page", "/files/Acknowledgments.pdf", target: "_blank"
          %br
          The dissertation is approved, and is available from
          = link_to "UMI",
            "http://dissexpress.umi.com/dxweb#search?&query=AU%28Lehman%29%20AND%20TI%28A%20Rule%29",
            target: "_blank"
          publication number 3209104

:javascript
  $('#academic-tab').addClass('active');
