---
title: Welcome
---
= partial "/partials/business_card"
= partial "/partials/quotations_carousel"

%div.container.mt-3
  %div
    %p.fw-bold
      Current Employment...
      %button.btn.btn-outline-info.btn-sm{ "style": "--bs-btn-padding-y: .05rem;", "data-bs-toggle": "collapse", "href": "#retirement-text", "role": "button", "aria-expanded": "false", "aria-controls": "retirement-text" }
        + -

    = partial "/partials/retirement_content"

  %div{id: "former-employment"}
    %p.fw-bold
      Former Employment...
      %button.btn.btn-outline-info.btn-sm{ "style": "--bs-btn-padding-y: .05rem;", "data-bs-toggle": "collapse", "href": "#welcome-text", "role": "button", "aria-expanded": "false", "aria-controls": "welcome-text" }
        + -

    = partial "/partials/welcome_content"

  %div
    %p.fw-bold
      Other Stuff...
      %button.btn.btn-outline-info.btn-sm{ "style": "--bs-btn-padding-y: .05rem;", "data-bs-toggle": "collapse", "href": "#other-text", "role": "button", "aria-expanded": "false", "aria-controls": "welcome-text" }
        + -

    = partial "/partials/other_content"

  - random_image = generate_random_image
  %div.text-center
    %img.img-fluid{"src": "/images/randomized/#{random_image}",
                           "alt": "random_image"}

  %div.alert.alert-light.alert-dismissible{"role": "alert"}
    %p.alert-heading.text-center
      %u Site Information
      %button.btn.btn-outline-info.btn-sm.close{"aria-label": "Close", "data-bs-dismiss": "alert", type: "button"}
        %span{"aria-hidden": "true"}Dismiss
    %p.small
      %b Content:
      This site is built with
      %a{"href": "https://en.wikipedia.org/wiki/HTML5"}HTML5
      and
      %a{"href": "http://www.css3.info/"}CSS3.
      No AI tools or chatbots were injured during the creation of the content on this site.
    %p.small
      %b Site Photos:
      Colorado, various dates
    %p.small
      %b Privacy Notice:
      This site does not track user visits nor does it transmit any such data to other sources.
    %p.small
      %b Cookies:
      This site generates a
      %a{"href": "https://cookiepedia.co.uk/"}cookie
      when you acknowledge the EU Cookie disclaimer. Oh, the irony.
      The blog is a Wordpress framework which may generate its own cookie data.
    %p.small
      %b Disclaimer:
      The content of this site is my own, and it does not represent any past, present or future employer's positions, strategies or opinions.

:javascript
  $('#home-tab').addClass('active');
