---
title: Welcome to The CWL Zone
---
= partial "/partials/business_card"

%div.container.mt-3
  %div
    %p.font-weight-bold
      Current Employment...
      %a.badge.badge-info{ "data-toggle": "collapse", "href": "#retirement-text", "role": "button", "aria-expanded": "false", "aria-controls": "welcome-text" }
        read more/less...

    = partial "/partials/retirement_content"

  %div{id: "former-employment"}
    %p.font-weight-bold
      Former Employment...
      %a.badge.badge-info{ "data-toggle": "collapse", "href": "#welcome-text", "role": "button", "aria-expanded": "false", "aria-controls": "welcome-text" }
        read more/less...

    = partial "/partials/welcome_content"

  %div
    %p.font-weight-bold
      Other Stuff...
      %a.badge.badge-info{ "data-toggle": "collapse", "href": "#other-text", "role": "button", "aria-expanded": "false", "aria-controls": "other-text" }
        read more/less...

    = partial "/partials/other_content"

  - random_image = generate_random_image
  %div.text-center
    %img.img-fluid{"src": "/images/randomized/#{random_image}",
                           "alt": "random_image"}

  %div.alert.alert-light.alert-dismissible{"role": "alert"}
    %p.alert-heading
      %u Site Information
    %button.close{"aria-label": "Close", "data-dismiss": "alert", type: "button"}
      %span{"aria-hidden": "true"}Dismiss
    %p.small
      %b Content:
      This site is built with
      %a{"href": "https://en.wikipedia.org/wiki/HTML5"}HTML5
      and
      %a{"href": "http://www.css3.info/"}CSS3.
    %p.small
      %b Privacy Notice:
      This site does not track user visits nor does it transmit any such data to other sources.
    %p.small
      %b Cookies:
      This site does not generate
      %a{"href": "https://cookiepedia.co.uk/"}cookies
      &period; The blog is a Wordpress framework which may generate its own cookie data.
    %p.small
      %b Disclaimer:
      The content of this site is my own, and it does not represent any past, present or future employer's positions, strategies or opinions.

:javascript
  $('#home-tab').addClass('active');
