---
title: Professional Background
---

%div#professional-tab.container.mt-3
  %div
    %p.font-weight-bold
      Former Employment

  %div
    %div.card.card-body.bg-light.border-light
      %p
        Details of my employment history can be found on the
        = link_to "Home", "/"
        page. Current skill set shown below.
      %p
        My
        = link_to "LinkedIn Profile", "https://www.linkedin.com/in/christopherwlehman", target: "_blank"
        contains a complete summary of my career path.

  %div
    %div.text-center
      %img.img-fluid{"src": "/images/pt_and_es_landscapes/segovia-es.jpg",
                             "alt": "segovia spain"}
      %p.figure-caption
        Segovia, Spain

  %div
    %p.font-weight-bold
      Current Skill Set (as of Q2 2019)
      %a.badge.badge-info{ "data-toggle": "collapse", "href": "#professional-skills-text", "role": "button", "aria-expanded": "false", "aria-controls": "professional-text" }
        read more/less...

  %div.bg-light.border-light
    %div.collapse#professional-skills-text.container.mb-3
      %div.card-deck
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Rails", "http://rubyonrails.org/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Full time Rails developer 2009 - 2019
              %br
                (Rails 2.0 to Rails 5.1)
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Ruby", "https://www.ruby-lang.org/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Switched from Perl to Ruby in 2005
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "RubyGems", "https://rubygems.org/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Six gems and counting, all proprietary...
      %div.card-deck
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Git", "https://git-scm.com/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Version control
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "GitHub", "https://github.com/thecwlzone",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Also other proprietary repos
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "puma", "https://github.com/puma/puma",
                target: "_blank", class: "card-text text-primary"
              &#44;
              = link_to "nginx", "https://www.nginx.com",
                target: "_blank", class: "card-text text-primary"
              &#44;
              = link_to "Unicorn", "https://bogomips.org/unicorn/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Web server engines
      %div.card-deck
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "MySQL", "https://www.mysql.com/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Relational database
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "MongoDB", "https://www.mongodb.com/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              The NoSQL database
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "PostgreSQL", "https://www.postgresql.org/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Open source relational database
      %div.card-deck
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Javascript", "https://www.javascript.com/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              But I'm mostly a backend developer...
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Bootstrap", "https://getbootstrap.com/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              My web site is based upon Bootstrap 4
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Middleman", "https://middlemanapp.com/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              My web site is built with Middleman
      %div.card-deck
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Jenkins", "https://jenkins.io/index.html",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              For
              %a.card-text.text-sm{"href": "https://en.wikipedia.org/wiki/Continuous_integration"}Continous Integration
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Capistrano", "http://capistranorb.com/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              For deployment
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Cloud Foundry", "https://pivotal.io/platform",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              For
              %a.card-text.text-sm{"href": "https://en.wikipedia.org/wiki/Virtual_machine"}VM
              deployment
      %div.card-deck
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "neovim", "http://neovim.io/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Plus the usual Ruby/Rails plugins. 30+ years using vim, I can't switch now!
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Docker", "https://www.docker.com",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Container application for DevOps
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "bash", "https://www.gnu.org/software/bash/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              The
              %i de facto
              shell for Mac users. I was a former csh user as well.

  %div
    %div.text-center
      %img.img-fluid{"src": "/images/pt_and_es_landscapes/monsaraz-pt.jpg",
                             "alt": "monsaraz portugal"}
      %p.figure-caption
        Monsaraz, Portugal

  %div
    %p.font-weight-bold
      Previous Web Site Development
      %a.badge.badge-info{ "data-toggle": "collapse", "href": "#professional-text", "role": "button", "aria-expanded": "false", "aria-controls": "professional-text" }
        read more/less...

  %div
    %div.collapse#professional-text
      %div.card.card-body.bg-light.border-light.text-justify
        %p.font-weight-bold
          ProfitStreams
        %p
          Alas, ProfitStreams is no longer in business, the LinkedIn URL is
          = link_to "here", "https://www.linkedin.com/company/profitstreams", target: "_blank"
          &#46; As Senior Software Developer at ProfitStreams I built web applications for the hospitality industry, with a focus on development of an Online Ordering application for restaurants. The technology was Rails 2.3.5 (with a migration plan in place to Rails 3.1) integrated with a Java-based API (driven by
          = link_to "Talend", "https://www.talend.com/", target: "_blank"
          ) that merged the application data into a unified backend. Clients could log into one central location to see customer data and set up
          = link_to "Twitter", "https://twitter.com/", target: "_blank"
          and
          = link_to "Facebook", "https://www.facebook.com/", target: "_blank"
          marketing campaigns, among other things.
        %p.font-weight-bold
          Internet Pawn, Inc, now dba Pawngo
        %p
          Internet Pawn and Boomerang Lending have merged into
          = link_to "Pawngo", "https://pawngo.com/", target: "_blank"
          &#46; The previous sites were all Rails 2.3.x The Boomerang Lending site was Rails 2.3.8 using
          = link_to "Refinery CMS", "http://www.refinerycms.com/", target: "_blank"
          for the backend admin services. I did all the Rails development and also wore the DevOps hat.
        %p.font-weight-bold
          Boecore
        %p
          = link_to "Boecore", "http://boecore.com/", target: "_blank"
          does business as a DoD contractor, and I helped develop BoBCAT - a Rails 2 application for automating and tracking the
          = link_to "DIACAP", "https://en.wikipedia.org/wiki/Department_of_Defense_Information_Assurance_Certification_and_Accreditation_Process", target: "_blank"
          compliance and Information Assurance activities required by the
          = link_to "Missile Defense Agency", "https://mda.mil/", target: "_blank"
          &#46; This was a classified project.

:javascript
  $('#professional-tab').addClass('active');

