---
title: Professional Background
---

%div#professional-tab.container.mt-3
  %div
    %p.font-weight-bold
      Professional Biography...
      %a.badge.badge-info{ "data-toggle": "collapse", "href": "#about-intro-text", "role": "button", "aria-expanded": "false", "aria-controls": "about-intro-text" }
        read more/less...

  %div
    %div.collapse#about-intro-text
      %div.card.card-body.bg-light.border-light.text-justify
        %p
          I was a
          = link_to "Rails", "http://rubyonrails.org/", target: "_blank"
          developer from 2009 to 2019, and I’ve been working with the
          = link_to "Ruby", "https://www.ruby-lang.org/en/", target: "_blank"
          language since 2005.
        %p
          Prior to that, I worked for 27 years in the semiconductor industry at
          = link_to "Ford Microelectronics", "https://www.crunchbase.com/organization/ford-microelectronics", target: "_blank"
          &#44;
          = link_to "Cypress Semiconductor", "http://www.cypress.com/", target: "_blank"
          and
          = link_to "IBM", "https://www.ibm.com/us-en/", target: "_blank"
          &#46; I was a
          = link_to "DevOps", "https://en.wikipedia.org/wiki/DevOps", target: "_blank"
          before the buzzword was invented: doing a combination of software development and system administration, as well as acting as the local SME for the
          = link_to "Electronic Design Automation Tools", "https://en.wikipedia.org/wiki/Electronic_design_automation", target: "_blank"
          essential for the creation of
          = link_to "VLSI", "https://en.wikipedia.org/wiki/Very-large-scale_integration", target: "_blank"
          components.
        %p
          My Ford career in the 1980s was great fun. A
          = link_to "Motor City", "https://en.wikipedia.org/wiki/Detroit", target: "_blank"
          exile working for a car company in Colorado - it doesn’t get any better than that. We were designing first generation automotive electronics during the week and running
          = link_to "Mustangs", "https://www.cargurus.com/Cars/1988-Ford-Mustang-Pictures-c3705#entity=t30287&pictureId=35729363", target: "_blank"
          and
          = link_to "T-birds", "https://www.cargurus.com/Cars/1987-Ford-Thunderbird-Pictures-c4641#entity=t33414&pictureId=19867112", target: "_blank"
          in
          = link_to "SCCA", "https://www.scca.com/", target: "_blank"
          Solo II competition on the weekends. Motor Head Nirvana.
        %div.text-center
          %img.img-fluid{"src": "/images/about/scca.jpg", "alt": "scca"}
          %p.figure-caption
            1989 Ford Thunderbird, supercharged, intercooled 210 HP

        %p
          But all things come to an end, and when I ran out of interesting things to do at Ford I jumped ship to a VLSI design startup. That company went under the following year, but the design team was picked up by
          Cypress, and I worked 14 years at the Colorado Springs Design Center where we designed static RAMs, generating over $1.5 billion in revenue for the company.
        %div.text-center
          %img.img-fluid{"src": "/images/about/Cypress_72MbitQDRII_SRAM.jpg", "alt": "chip"}
          %p.figure-caption
            The Cypress Colorado Springs Design Center specializes in SRAM design

        %p
          The
          = link_to "Dot Com", "https://en.wikipedia.org/wiki/Dot-com_bubble", target: "_blank"
          crash of 2000 seriously affected the semiconductor industry, and after dodging more layoffs than I care to remember, my number came up in 2005, and that was the end of the road with Cypress.
        %p
          The crew that was cut from Cypress represented a huge amount of VLSI expertise, and we persuaded IBM to let us set up a new VLSI design center in Colorado Springs. Yet another semiconductor market pullback ultimately killed that idea, and as an unwilling participant in the
          = link_to "IBM 2009 layoffs", "http://money.cnn.com/2009/02/05/news/companies/ibm_jobs/", target: "_blank"
          &#44; I decided it was long past time to stop chasing electrons. Fortunately, I had been hacking on Rails web sites and doing Ruby programming for awhile, so the transition to Rails Web Developer was a viable ten year “second career” choice, which included seven years working at Comcast. In 2019, after 40+ years of contributing to the advance of technology, I decided it was time to hang up my spurs and complete the transition to retirement. It will be interesting to see how that plays out. Cheers!
        %img.img-thumbnail{"src": "/images/cwl2a-cartoon.jpg",
          "style": "width: 121px; height: 80px;",
          "alt": "gravatar"}
        %p
          If you’re interested in a more “formal” career timeline, my
          = link_to "LinkedIn Profile", "https://www.linkedin.com/in/christopherwlehman", target: "_blank"
          has all the dates and details.

  - random_image = generate_random_image
  %div
    %div.text-center
    %img.img-fluid{"src": "/images/randomized/#{random_image}",
                           "alt": "random_image"}

  %div{id: "skill-set"}
    %p.font-weight-bold
      Skill Set...
      %a.badge.badge-info{ "data-toggle": "collapse", "href": "#professional-skills-text", "role": "button", "aria-expanded": "false", "aria-controls": "professional-text" }
        read more/less...

  %div.bg-light.border-light
    %div.collapse#professional-skills-text.container.mb-3
      %div.card-deck
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Rails", "http://rubyonrails.org/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Full time Rails developer 2009 - 2019
              %br
                (Rails 2.0 to Rails 5.1)
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Ruby", "https://www.ruby-lang.org/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Switched from Perl to Ruby in 2005
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "RubyGems", "https://rubygems.org/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Six gems and counting, all proprietary...
      %div.card-deck
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Git", "https://git-scm.com/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Version control
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "GitHub", "https://github.com/thecwlzone",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Also other proprietary repos
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "puma", "https://github.com/puma/puma",
                target: "_blank", class: "card-text text-primary"
              &#44;
              = link_to "nginx", "https://www.nginx.com",
                target: "_blank", class: "card-text text-primary"
              &#44;
              = link_to "Unicorn", "https://bogomips.org/unicorn/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Web server engines
      %div.card-deck
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "MySQL", "https://www.mysql.com/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Relational database
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "MongoDB", "https://www.mongodb.com/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              The NoSQL database
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "PostgreSQL", "https://www.postgresql.org/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Open source relational database
      %div.card-deck
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Javascript", "https://www.javascript.com/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              But I'm mostly a backend developer...
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Bootstrap", "https://getbootstrap.com/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              My web site is based upon Bootstrap 4
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Middleman", "https://middlemanapp.com/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              My web site is built with Middleman
      %div.card-deck
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Jenkins", "https://jenkins.io/index.html",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              For
              %a.card-text.text-sm{"href": "https://en.wikipedia.org/wiki/Continuous_integration"}Continous Integration
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Capistrano", "http://capistranorb.com/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              For deployment
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Cloud Foundry", "https://pivotal.io/platform",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              For
              %a.card-text.text-sm{"href": "https://en.wikipedia.org/wiki/Virtual_machine"}VM
              deployment
      %div.card-deck
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "neovim", "http://neovim.io/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Plus the usual Ruby/Rails plugins. 30+ years using vim, I can't switch now!
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Docker", "https://www.docker.com",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Container application for DevOps
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "zsh", "https://ohmyz.sh/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              The
              %i de facto
              shell for Mac users. I was a former csh and bash user as well.

  - random_image = generate_random_image
  %div
    %div.text-center
    %img.img-fluid{"src": "/images/randomized/#{random_image}",
                           "alt": "random_image"}

  %div
    %p.font-weight-bold
      Previous Web Site Development...
      %a.badge.badge-info{ "data-toggle": "collapse", "href": "#professional-text", "role": "button", "aria-expanded": "false", "aria-controls": "professional-text" }
        read more/less...

  %div
    %div.collapse#professional-text
      %div.card.card-body.bg-light.border-light.text-justify
        %p.font-weight-bold
          ProfitStreams
        %p
          Alas, ProfitStreams is no longer in business, the LinkedIn URL is
          = link_to "here", "https://www.linkedin.com/company/profitstreams", target: "_blank"
          &#46; As Senior Software Developer at ProfitStreams I built web applications for the hospitality industry, with a focus on development of an Online Ordering application for restaurants. The technology was Rails 2.3.5 (with a migration plan in place to Rails 3.1) integrated with a Java-based API (driven by
          = link_to "Talend", "https://www.talend.com/", target: "_blank"
          ) that merged the application data into a unified backend. Clients could log into one central location to see customer data and set up
          = link_to "Twitter", "https://twitter.com/", target: "_blank"
          and
          = link_to "Facebook", "https://www.facebook.com/", target: "_blank"
          marketing campaigns, among other things.
        %p.font-weight-bold
          Internet Pawn, Inc, now dba Pawngo
        %p
          Internet Pawn and Boomerang Lending have merged into
          = link_to "Pawngo", "https://pawngo.com/", target: "_blank"
          &#46; The previous sites were all Rails 2.3.x The Boomerang Lending site was Rails 2.3.8 using
          = link_to "Refinery CMS", "http://www.refinerycms.com/", target: "_blank"
          for the backend admin services. I did all the Rails development and also wore the DevOps hat.
        %p.font-weight-bold
          Boecore
        %p
          = link_to "Boecore", "http://boecore.com/", target: "_blank"
          does business as a DoD contractor, and I helped develop BoBCAT - a Rails 2 application for automating and tracking the
          = link_to "DIACAP", "https://en.wikipedia.org/wiki/Department_of_Defense_Information_Assurance_Certification_and_Accreditation_Process", target: "_blank"
          compliance and Information Assurance activities required by the
          = link_to "Missile Defense Agency", "https://mda.mil/", target: "_blank"
          &#46; This was a classified project.

:javascript
  $('#professional-tab').addClass('active');

