---
title: Professional Background
---
%div#professional-tab.container.mt-3
  %div
    %p.font-weight-bold
      Current Employment

  %div
    %div.card.card-body.bg-light.border-light
      %p
        My
        = link_to "LinkedIn Profile", "https://www.linkedin.com/in/christopherwlehman", target: "_blank"
        contains a complete summary of my career path.
      %p
        I am a Senior Engineer at the
        = link_to "Comcast", "https://www.xfinity.com/", target: "_blank"
        Technology and Product Development organization (T&#38;P), where I am building internal web tools using
        = link_to "Ruby on Rails", "http://rubyonrails.org/", target: "_blank"
        &#46; Complete details can be found on the
        = link_to "Home", "/"
        page.

  %div
    %p.font-weight-bold
      Previous Web Site Development
      %a.badge.badge-info{ "data-toggle": "collapse", "href": "#professional-text", "role": "button", "aria-expanded": "false", "aria-controls": "welcome-text" }
        read more/less...

  %div
    %div.collapse#professional-text
      %div.card.card-body.bg-light.border-light
        %p.font-weight-bold
          ProfitStreams
        %p
          Alas, ProfitStreams is no longer in business, the LinkedIn URL is
          = link_to "here", "https://www.linkedin.com/company/profitstreams", target: "_blank"
          &#46; As Senior Software Developer at ProfitStreams I built web applications for the hospitality industry, with a focus on development of an Online Ordering application for restaurants. The technology was Rails 2.3.5 (with a migration plan in place to Rails 3.1) integrated with a Java-based API (driven by
          = link_to "Talend", "https://www.talend.com/", target: "_blank"
          ) that merged the application data into a unified backend. Clients could log into one central location to see customer data and set up
          = link_to "Twitter", "https://twitter.com/", target: "_blank"
          and
          = link_to "Facebook", "https://www.facebook.com/", target: "_blank"
          marketing campaigns, among other things.
        %p.font-weight-bold
          Internet Pawn, Inc, now dba Pawngo
        %p
          Internet Pawn and Boomerang Lending have merged into
          = link_to "Pawngo", "https://pawngo.com/", target: "_blank"
          &#46; The previous sites were all Rails 2.3.x The Boomerang Lending site was Rails 2.3.8 using
          = link_to "Refinery CMS", "http://www.refinerycms.com/", target: "_blank"
          for the backend admin services. I did all the Rails development and also wore the DevOps hat.
        %p.font-weight-bold
          Boecore
        %p
          = link_to "Boecore", "http://boecore.com/", target: "_blank"
          does business as a DoD contractor, and I helped develop BoBCAT - a Rails 2 application for automating and tracking the
          = link_to "DIACAP", "https://en.wikipedia.org/wiki/Department_of_Defense_Information_Assurance_Certification_and_Accreditation_Process", target: "_blank"
          compliance and Information Assurance activities required by the
          = link_to "Missile Defense Agency", "https://mda.mil/", target: "_blank"
          &#46; This was a classified project.

:javascript
  $('#professional-tab').addClass('active');

