---
title: Professional History
---

%div#professional-tab.container.mt-3
  %div
    %p.fw-bold
      Professional Biography...
      %button.btn.btn-outline-info.btn-sm{ "style": "--bs-btn-padding-y: .05rem;", "data-bs-toggle": "collapse", "href": "#about-intro-text", "role": "button", "aria-expanded": "false", "aria-controls": "about-intro-text" }
        + -

  %div
    %div.collapse#about-intro-text
      %div.card.card-body.bg-light.border-light.text-justify.mb-3
        %p
          I was a
          = link_to "Rails", "http://rubyonrails.org/", target: "_blank"
          developer from 2009 to 2019, and I’ve been working with the
          = link_to "Ruby", "https://www.ruby-lang.org/en/", target: "_blank"
          language since 2005.
        %p
          Prior to that, I worked for 27 years in the semiconductor industry at
          = link_to "Ford Microelectronics",
            "https://search.brave.com/search?q=ford+microelectronics",
            target: "_blank"
          &#44;
          = link_to "Cypress Semiconductor", "http://www.cypress.com/", target: "_blank"
          (acquired by Infineon), and
          = link_to "IBM", "https://www.ibm.com/us-en/", target: "_blank"
          &#46; I was a
          = link_to "DevOps", "https://en.wikipedia.org/wiki/DevOps", target: "_blank"
          before the buzzword was invented: doing a combination of software development and system administration, as well as acting as the local SME for the
          = link_to "Electronic Design Automation Tools", "https://en.wikipedia.org/wiki/Electronic_design_automation", target: "_blank"
          essential for the creation of
          = link_to "VLSI", "https://en.wikipedia.org/wiki/Very-large-scale_integration", target: "_blank"
          components.
        %p
          My Ford career in the 1980s was great fun. A
          = link_to "Motor City", "https://en.wikipedia.org/wiki/Detroit", target: "_blank"
          exile working for a car company in Colorado - it doesn’t get any better than that. We were designing first generation automotive electronics during the week and running
          = link_to "Mustangs", "https://www.cargurus.com/Cars/1988-Ford-Mustang-Pictures-c3705#entity=t30287&pictureId=35729363", target: "_blank"
          and
          = link_to "T-birds", "https://www.cargurus.com/Cars/1987-Ford-Thunderbird-Pictures-c4641#entity=t33414&pictureId=19867112", target: "_blank"
          in
          = link_to "SCCA", "https://www.scca.com/", target: "_blank"
          Solo II competition on the weekends. Motor Head Nirvana.
        %div.text-center
          %img.img-fluid{"src": "/images/about/scca.webp", "alt": "scca"}
          %p.figure-caption
            1989 Ford Thunderbird, supercharged, intercooled 210 HP

        %p
          But all things come to an end, and when I ran out of interesting things to do at Ford I jumped ship to a VLSI design startup. That company went under the following year, but the design team was picked up by
          Cypress, and I worked 14 years at the Colorado Springs Design Center where we designed static RAMs, generating over $1.5 billion in revenue for the company.
        %div.text-center
          %img.img-fluid{"src": "/images/about/Cypress_72MbitQDRII_SRAM.webp", "alt": "chip"}
          %p.figure-caption
            The Cypress Colorado Springs Design Center specializes in SRAM design

        %p
          The
          = link_to "Dot Com", "https://en.wikipedia.org/wiki/Dot-com_bubble", target: "_blank"
          crash of 2000 seriously affected the semiconductor industry, and after dodging more layoffs than I care to remember, my number came up in 2005, and that was the end of the road with Cypress.
        %p
          The crew that was cut from Cypress represented a huge amount of VLSI expertise, and we persuaded IBM to let us set up a new VLSI design center in Colorado Springs. Yet another semiconductor market pullback ultimately killed that idea, and as an unwilling participant in the
          = link_to "IBM 2009 layoffs", "http://money.cnn.com/2009/02/05/news/companies/ibm_jobs/", target: "_blank"
          &#44; I decided it was long past time to stop chasing electrons. Fortunately, I had been hacking on Rails web sites and doing Ruby programming for awhile, so the transition to Rails Web Developer was a viable ten year “second career” choice, which included seven years working at Comcast. In 2019, after 40+ years of contributing to the advance of technology, I decided it was time to hang up my spurs and complete the transition to retirement. Cheers!
        %img.img-thumbnail{"src": "/images/cwl2a-cartoon.webp",
          "style": "width: 121px; height: 80px;",
          "alt": "gravatar"}
        %p
          Click
          = link_to "here", "/files/cwl-resume.pdf", target: "_blank"
          for my major career highlights (in PDF formt).

  - random_image = generate_random_image
  %div.text-center
    %img.img-fluid{"src": "/images/randomized/#{random_image}",
      "height": "auto",
      "width": "75%",
      "alt": "random_image"}

  %div{id: "skill-set"}
    %p.fw-bold.pt-2
      Skill Set...
      %button.btn.btn-outline-info.btn-sm{ "style": "--bs-btn-padding-y: .05rem;", "data-bs-toggle": "collapse", "href": "#professional-skills-text", "role": "button", "aria-expanded": "false", "aria-controls": "professional-skills-text" }
        + -

  %div.bg-light.border-light
    %div.collapse#professional-skills-text.container.mb-3
      %p
        Last Updated On: 28-Apr-2024
      %div.card-group
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Rails", "http://rubyonrails.org/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Full time Rails developer 2009 - 2019
              %br
                Current - Rails 7 and Tailwind CSS
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Ruby", "https://www.ruby-lang.org/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Switched from Perl to Ruby in 2005
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Bundler", "https://bundler.io/",
                target: "_blank", class: "card-text text-primary"
              &#44;
              = link_to "RubyGems", "https://rubygems.org/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Six gems released, all proprietary...
      %div.card-group
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Git", "https://git-scm.com/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Version control
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "GitHub", "https://github.com/thecwlzone",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Also other proprietary repos
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "puma", "https://github.com/puma/puma",
                target: "_blank", class: "card-text text-primary"
              &#44;
              = link_to "nginx", "https://www.nginx.com",
                target: "_blank", class: "card-text text-primary"
              &#44;
              = link_to "passenger", "https://www.phusionpassenger.com/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Web server engines
      %div.card-group
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "MySQL", "https://www.mysql.com/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Relational database
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              This card is intentially left blank...
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "PostgreSQL", "https://www.postgresql.org/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Open source relational database
      %div.card-group
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Tailwind CSS", "https://tailwindcss.com/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              But I'm mostly a backend developer...
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Bootstrap", "https://getbootstrap.com/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              My web site is based upon Bootstrap 5.2.3
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Middleman", "https://middlemanapp.com/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              My web site is built with Middleman
      %div.card-group
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "neovim", "http://neovim.io/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Plus the usual Ruby/Rails plugins. 30+ years using vi, I can't switch now!
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "Docker / Docker Hub", "https://www.docker.com",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              Container application for DevOps
        %div.card.mb-1
          %div.card-body
            %p.card-text.text-center
              = link_to "zsh", "https://ohmyz.sh/",
                target: "_blank", class: "card-text text-primary"
            %p.card-text.text-sm-center.small.d-none.d-sm-block
              The
              %i de facto
              shell for Mac users. I was a former csh and bash user as well.

  - random_image = generate_random_image
  %div.text-center
    %img.img-fluid{"src": "/images/randomized/#{random_image}",
      "height": "auto",
      "width": "75%",
      "alt": "random_image"}

:javascript
  $('#professional-tab').addClass('active');

